
  .kquZKY1 {
    margin-top: 10px;
}

.kLKzPK1 {
    font-size: 20px;
    padding-left: 10px;
 
}
.kLKzPK2 {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
 
}
.jhwLvj1 {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
     overflow-x: scroll;
}
.jhwLvj1::-webkit-scrollbar {
    display: none;
}
.okeiS1 {
    height: 10vw;
    width: 18vw;
    border-radius: 1vw;
    box-shadow: rgb(0 0 0 / 30%) 0px 3px 6px;
    margin-right: 16px;
    margin-bottom: 16px;
    object-fit: cover;
    cursor: pointer;
}
@media screen and (max-width: 600px)
{
.okeiS {
    height: 20vw;
    width: 35vw;
    border-radius: 0px;
}}